@font-face {
  font-family: "Arizonia_21.0.0_google";
  src: url("../../../fonts/Arizonia-Regular_21.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Corinthia_11.0.0_google";
  src: url("../../../fonts/Corinthia-Bold_11.0.0_google.ttf");
  font-weight: 700; 
  font-display: swap;
}