#s-91fbbfca-8867-43b8-bdf0-341e5e99753c > #backgroundBox {
  position: absolute;
}
#s-91fbbfca-8867-43b8-bdf0-341e5e99753c > #alignmentBox {
  position: relative;
}
#s-91fbbfca-8867-43b8-bdf0-341e5e99753c #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-91fbbfca-8867-43b8-bdf0-341e5e99753c #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-91fbbfca-8867-43b8-bdf0-341e5e99753c #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-91fbbfca-8867-43b8-bdf0-341e5e99753c #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-91fbbfca-8867-43b8-bdf0-341e5e99753c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-91fbbfca-8867-43b8-bdf0-341e5e99753c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}